.list-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: 1s ease-in;

  .list-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .serie-card {
      width: 340px;
      max-width: 344px;
      margin: 20px 10px;
      background-color: #000000ce;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      .serie-card-header {
        height: 64px;
        overflow: auto;
      }

      .serie-card-img {
        height: 300px;
        margin-bottom: 0;
      }

      .serie-card-content {
        transition: height 0.5s ease-in;
        font-size: 0;
        height: 0;
      }
    }

    .serie-card:hover {
      width: 350px;
      margin-top: 5px;

      .serie-card-header {
        display: block;
      }

      .serie-card-content {
        font-size: 100%;
        height: 100px;
        overflow: auto;
      }
    }
  }
}

.divider {
  height: 7px;
  background-color: #c2185b;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
    background: #ffffff38;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ffffff36;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}
