.list-container {
  width: 100%;
  height: 101%;
  background-color: #212121;
  transition: 1s ease-in;

  .list-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    .serie-card {
      width: 340px;
      max-width: 344px;
      margin: 20px 10px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      overflow: hidden;

      .serie-card-header {
        height: 64px;
        overflow: auto;
      }

      .serie-card-img {
        height: 300px;
        margin-bottom: 0;
        object-fit: cover;
        object-position: center;
        transition: 0.3s ease-in-out;
      }

      .serie-card-content {
        transition: height 0.5s ease-in;
        font-size: 0;
        height: 0;
      }
    }

    .serie-card:hover {
      margin-top: 5px;
      background-color: #c2185b;

      .serie-card-header {
        display: block;
      }

      .serie-card-img {
        width: 118%;
      }

      .serie-card-content {
        font-size: 100%;
        height: 100px;

        overflow: auto;
      }
    }
  }
}

.divider {
  height: 7px;
  background-color: #c2185b;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.not-found-container {
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #c2185b;

  p {
    margin: 0 0 0 16px;
  }
}
