.container-footer {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  .content-footer {
    border-top: 2px solid #c2185b;
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
