<header class="header-container">
  <nav class="header-nav-container">
    <mat-toolbar class="header-nav-content" color="secondary">
      <h1 class="logo">
        <a mat-button color="primary" [routerLink]="['/']">
          <mat-icon>movie</mat-icon> Marvel Comic Series
        </a>
      </h1>

      <ul class="nav-links">
        <li>
          <a
            mat-button
            color="primary"
            [routerLink]="['/home/list']"
            routerLinkActive="active-link"
            >All</a
          >
        </li>
        <li>
          <a
            mat-button
            color="primary"
            [routerLink]="['/home/search']"
            routerLinkActive="active-link"
            >Search</a
          >
        </li>
      </ul>

      <!-- <mat-form-field class="search-field">
        <mat-label>Search...</mat-label>
        <input matInput type="text" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->
    </mat-toolbar>
  </nav>
</header>
