/*  RESET CSS */
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #000000d2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #ffffff62;
  }

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
