//  RESET CSS
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

// Global
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.section-main {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  position: relative;
  scroll-behavior: smooth;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
    background: #ffffff38;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ffffff36;
  }
}

.section-main.custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
}
